@import url('https://fonts.googleapis.com/css2?family=Headland+One&family=Oswald:wght@300&family=Poppins:wght@300&family=Quicksand:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

/* Responsividade */

@media screen and (max-width: 1500px)
{
    .banner_shadow{
        width: 100%;
        height: 5vh;
        position: absolute;
        top: 69vh;
    }
    .circulo{
        position: absolute;
        top: 15vh;
        left: 110vh;
        width: 390px;
    }
    .banner_text{
        position: absolute;
        top: 30vh;
        left: 32vh;
    }
}

@media screen and (max-width: 1366px)
{
    .banner_shadow{
        width: 100%;
        height: 5vh;
        position: absolute;
        top: 70vh;
    }
    .circulo{
        position: absolute;
        top: 17vh;
        left: 110vh;
        width: 370px;
    }
    .banner_text{
        position: absolute;
        top: 30vh;
        left: 25vh;
    }
}

@media screen and (max-width: 1600px)
{
    .banner_shadow{
        width: 100%;
        height: 5vh;
        position: absolute;
        top: 70vh;
    }
    .circulo{
        position: absolute;
        top: 17vh;
        left: 110vh;
        width: 370px;
    }
    .banner_text{
        position: absolute;
        top: 30vh;
        left: 25vh;
    }
}

@media screen and (max-width: 1300px) 
{
    .banner_shadow{
        width: 100%;
        height: 5vh;
        position: absolute;
        top: 73vh;
    }
    .circulo{
        position: absolute;
        top: 22vh;
        left: 115vh;
        width: 290px;
    }
    .banner_text{
        position: absolute;
        top: 30vh;
        left: 15vh;
    }
}

