@import url('https://fonts.googleapis.com/css2?family=Headland+One&family=Oswald:wght@300&family=Poppins:wght@300&family=Quicksand:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body {
    margin: 0px;
    font-family: "SoDo Sans SemiBold",Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* Header */

.navbar {
    padding: 0px;
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.navbar-left img{
    width: 80px;
    margin-right: 20px;
}

.navbar-left div{
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 35px;
}

.search{
    color: #353333;
}

.navbar-left div:hover, .pesquisar .search:hover {
    color: #094721;
    font-weight: bolder;
}

.navbar-left, .navbar-right {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar-left > *, .navbar-right > * {
    margin: 12px;
}
/* 
.navbar-right{
    padding-left: 100px;
} */

.pesquisar {
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
}

.cadastro, .login {

    font-weight: 500;
    border: 1px solid black;
    border-radius: 40px;
    padding: 5px 20px 5px 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

.cadastro{
    background-color: #000;
    color: white;
    transition: 0.3s ease;
}

.login {
    background-color: white;
    color:black;
    transition: 0.3s ease;
}

.login:hover {

   background-color: #f7eaeab3;
   transform: scale(1.1);
   -webkit-box-shadow: 0px 2px 9px 0px #c2c2c2;
   -moz-box-shadow: 0px 2px 9px 0px #c2c2c2;
    box-shadow: 0px 2px 9px 0px #c2c2c2;
}

.cadastro:hover {
    transform: scale(1.1);
}

.receita {

    background-image: linear-gradient(
    to right,
    #094721,
    #094721 50%,
    #000 50%
    );

    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.receita:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
  }

.receita:hover {
    background-position: 0;
   }

.receita:hover::before {
    width: 100%;
  }

  .sobrenos {

    background-image: linear-gradient(
    to right,
    #094721,
    #094721 50%,
    #000 50%
    );

    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.sobrenos:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
  }

.sobrenos:hover {
    background-position: 0;
   }

.sobrenos:hover::before {
    width: 100%;
  }

  .enviereceita {
    background-image: linear-gradient(

    to right,
    #094721,
    #094721 50%,
    #000 50%
    );

    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.enviereceita:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
  }

.enviereceita:hover {
    background-position: 0;
   }

.enviereceita:hover::before {
    width: 100%;
  }

 /* Banner */

.banner_wrapper{
    width: 100%;
    height: 60vh;
    background: #f2784b;
    background: linear-gradient(90deg, #f2784b 0%, #ffa200 100%);
}

.banner_text{
    position: absolute;
    top: 30vh;
    left: 40vh;
}

.banner_subtitle{
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    letter-spacing: 0.1em;
}

.banner_title{
    margin-top: 5px;
    margin-bottom: 15px;
    font-family: 'Headland One', serif;
    text-align: left;
    font-size: 46px;
    font-weight: 400;
}

.banner_paragrafo{
    padding-top: 10px;
    font-size: 20px;
}

.banner_shadow{
    width: 100%;
    height: 4vh;
    position: absolute;
    top: 68vh;
    background: #0d7133;
}

/* .circulo{
    position: absolute;
    top: 15vh;
    left: 110vh;
    width: 450px;
} */

/* .salada{
    position: absolute;
    top: 22vh;
    left: 121vh;
    width: 190px;

} */

a{
    text-decoration: none;
}